include README.md
include LICENSE
include pyproject.toml
include setup.py

recursive-include mini_agent/examples *.py
recursive-include mini_agent/tests *.py

exclude mini_agent/data/*
exclude mini_agent/tts/test_outputs/*
exclude mini_agent/tts/tts_cache/*

global-exclude __pycache__
global-exclude *.py[cod]
global-exclude .DS_Store
